import { FC } from 'react';
import { clsx } from 'clsx';

import s from './{{pascalCase name}}.module.scss';

interface {{pascalCase name}}Props {
  className?: string;
  
}

export const {{pascalCase name}}: FC<{{pascalCase name}}Props> = ({
  className,
  
}) => {
  

  return (
    <div className={clsx(s.{{camelCase name}}, className)}>
      
    </div>
  )
};
